In [11]:
class FourCal:
    def __init__(self, first, second):
        self.first = first
        self.second = second
    def setdata(self, first, second):          #  클래스 안에 구현된 함수 메서드 라고 부른다.
        self.first = first
        self.second = second
        def add(self):
            result = self.first + self.second
            return result
        def mul(self):
            result = self.first * self.second
            return result
        def sub(self):
            result = self.first - self.second
            return result
        def div(self):
            result = self.first / self.second
            return result

In [7]:
a = FourCal()      # FourCal 클래스를 이용한 a라는 객체를 만듬

In [8]:
a.setdata(4,2)

In [9]:
a.first

4

In [10]:
a.second

2

In [18]:
class MyError(Exception):
    def __str__(self):
        return '허용되지 않는 별명입니다.'

In [13]:
def say_nick(nick):
    if nick == '바보':
        raise MyError()
    print(nick)

In [14]:
say_nick('천사')

천사

In [15]:
say_nick(바보)

NameError: name '바보' is not defined

In [16]:
try:
    say_nick('천사')
    say_nick('바보')
except MyError:
    print('허용되지 않는 별명입니다.')

천사
허용되지 않는 별명입니다.

In [19]:
 try:
    say_nick('천사')
    say_nick('바보')
except MyError as e:
    print(e)

천사
허용되지 않는 별명입니다.

In [20]:
abs(3)

3

In [21]:
abs(-3)

3

In [22]:
all([1,2,3])

True

In [23]:
all([1,2,3,0])

False

In [24]:
any([])

False

In [25]:
any([1,2,3,0])

True

In [26]:
chr(97)

'a'

In [27]:
chr(98)

'b'

In [28]:
chr(48)

'0'

In [29]:
dir([1,2,3])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [30]:
for i, name in enumerate(['body','foo', 'bar']):
    print(i, name)

0 body
1 foo
2 bar

In [31]:
def two_times(numberList):
    result = []
    for number in numberList:
        result.append(number*2)
    return result

In [32]:
result = two_times([1,2,3,4])
print (result)

[2, 4, 6, 8]

In [37]:
def two_times(x): return x*2

In [38]:
list(map(two_times, [1,2,3,4]))

[2, 4, 6, 8]

In [39]:
max([1,2,3])

3

In [40]:
max('python')

'y'

In [41]:
min([1,2,3])

1

In [43]:
min('python')

'h'

In [44]:
ord('a') # ord 함수 문자를 아스키 코드로 변환

97

In [46]:
chr(97)  # chr 함수 아스키코드를 문자로 변환

'a'

In [47]:
list(range(5)) # range 함수

[0, 1, 2, 3, 4]

In [48]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [49]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [50]:
list(range(0,-10,-1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [51]:
round(4.6) #round 함수 반올림

5

In [52]:
round(4.2)

4

In [53]:
round (5.678,2) # round 함수의 두번째 매개변수는 반올림하여 표시하고 싶은 소수점의 자릿수 이다.

5.68

In [54]:
str(3)

'3'

In [55]:
type(str(3))

str

In [56]:
str('hi'.upper())

'HI'

In [57]:
str('HI'.lower())

'hi'

In [59]:
sum([1,2,3])  # sum 은 입력받은 리스트나 튜플의 모든 요소의 합을 돌려주는 함수

6

In [60]:
a = [332,342,456]

In [64]:
sum(a) / len(a)

376.6666666666667

In [67]:
import numpy as np
a = np.array([332,342,456])
print(a.mean())

376.6666666666667

In [68]:
list(zip([1,2,3],[4,5,6]))

[(1, 4), (2, 5), (3, 6)]