<a href="https://colab.research.google.com/github/picodj/pythonbasic/blob/main/2021_02_26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# 27 
a=input().split(' ')
b=(input(int.split(' '))

SyntaxError: ignored

In [10]:
# 데이터 입력 받아서 처리

a = input().split()

print(a)

70 100
['70', '100']

In [53]:
# 숫자로 입력 받아서 처리
a = map(int,input().split())

print(list(a))

70 100
[70, 100]

In [13]:
key = input().split()
value =  map(int,input().split())

print(dict(zip(key,value)))

Yujin Hyewon
70 100
{'Yujin': 70, 'Hyewon': 100}

In [20]:
# 28 

words = input()
for i in range(len(words) - 1):      
    print(words[i]+words[i + 1])

python
py
yt
th
ho
on

In [30]:
# 29 
# isupper 대문자 인지 확인
# islower 소문자 인지 확인 
# isdigit 숫자인지 확인 

#ord ascll 코드 값을 확인 65 A 90 Z
#chr 

word = input()
if word.isupper():
  print("YES")
else:
  print("NO")

r
NO

In [29]:
txt = input()
if ord(txt) >= 65 and ord(txt) <= 90:
  print('YES')
else:
  print('NO')

A
YES

In [32]:
# 30
a = input()
b = input()
# a.index(b)
print(a.find('apple'))

pineapple is yummy
apple
4

In [42]:
# 32
word = input().split()
print(len(word))

저 넓은 세상을 네 눈앞에 그려봐 네 진심을 느껴봐
9

In [53]:
txt = "빅데이터   "
print(txt.strip())

빅데이터

In [93]:
#33 
num = list(input().split())
num1 = num.reverse()
print(int(num1))

1 2 3 4 5

TypeError: ignored

In [75]:
.for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [87]:
txt = input()
txt2 = list(txt.split())
txt3 = [int(i)for i in txt2]

for i in range(len(txt3)-1,-1,-1):
  print(txt3[i],end=' ')

1 2 3 4 5
5 4 3 2 1

In [124]:
# int 형태로 받는법 map(int,input().split())
# int 형태로 만드는법 [int(i)for i in txt2]

num1 = input()

num2 = num1.split()
num3 = [int(i)for i in num2]

if num3 != sorted(num3):
  print("NO")
else:
  print("YES")

1 2 3 4 5
YES

In [112]:
a = input().split()
if a == sorted(a):
  print("YES")
else:
  print("NO")

# <list>.sort()를 사용하면 원본 리스트 자체의 순서를 변화 시킨다.
# sorted(<list>) 를 사용하면 정렬된 새로운 리스트를 반환 받는다.
# <list>.sort()는 새로운 복사본을 만들지 않기 때문에
# sorted(<list>)보다 빠르다

5 4 3 2 1
NO

In [173]:
# 36 
dan = int(input())
for i in range(1,10):
	print(dan*i,end=" ")

5
5 10 15 20 25 30 35 40 45

In [2]:
# 37
a = input().split() # 입력
b = len(a) # 입력된리스트의 수 
c = set(a) # 리스트를 셋으로 변경 중복 삭제
d = list(c) # 삭제된 셋을 리스트로 변경
max = 0 
print(a,b,c,d)
for i in range(b):
  # print(d[i],end=" ")
  # print(a.count(d[i]))
  if a.count(c[i]) > a.count(c[max]):
    max=i
    # print("%d로 변경되었습니다.\n" % max)

print("%s(이)가 총 %d표로 반장이 되었습니다."% c[max],a.count(c[max]))

# 원영 원영 은비 은비 은비 은비 채연 채연

원영 원영 은비 은비 은비 은비 채연 채연
['원영', '원영', '은비', '은비', '은비', '은비', '채연', '채연'] 8 {'은비', '원영', '채연'} ['은비', '원영', '채연']

TypeError: ignored

In [7]:
a = input().split()
b = list(set(a))

max = 0

for i in range(len(b)):
  if a.count(b[i]) > a.count(b[max]):
    max = i

print("%s(이)가 총 %d표로 반장이 되었습니다."% (b[max], a.count(b[max])))

원영 원영 은비 은비 은비 은비 채연 채연
은비(이)가 총 4표로 반장이 되었습니다.

In [4]:
# 38 오타 수정하기.

a = input()
print(a.replace('q','e'))

qwiofasdqfwqqfqwqqrweqwioqqwreqwqqq
ewiofasdefweefeweerweewioeewreeweee

In [42]:
# 41 

a = int(input())
if a/1==a and a/a==1 and a%2!=0 and a%5!=0:
  print("YES")
elif a==5:
  print("YES")
elif a==1:
  print("NO")
else:
  print("NO")

11
YES

In [44]:
a = int(input()) # 숫자를 입력받는다

re = 0 # re 변수 초기화

for i in range(1, a+1): # 반복문 ( 그 수 까지)
  if a % i == 0:   # 조건 입력받은 수를 그 수 앞에 
    re += 1

if re == 2:
  print('YES')
else:
  print('NO')

677
YES

In [51]:
# 44 
print(sum(map(int,input())))

1234
10

In [54]:
n = list(map(int,input()))
sum = 0 
for i in n:
  sum += i 

print(sum)

1234
10

In [57]:
sum = 0 
for i in input():
  sum += int(i)
print(sum)

18234
18

In [87]:
# 46 

sum = 0
for i in list(range(21)):
  for j in str(i):
    sum += int(j)
print(sum)

# 변형 : 임의수를 입력 받아서 계산하기로 변경 7교시

102

In [92]:
a = int(input())

sum = 0 
for i in list(range(a+1)):
  for j in str(i):
    sum += int(j)
print(sum)

20
102

In [95]:
x = ('a', 'b', 'c', 'd') 
for i in x:
  print(i, end=' ')

a b c d

In [97]:
x = ['P', 'y', 't', 'h', 'o', 'n'] 
for i in x:
  print(i, end='')

Python