In [8]:
a = list(map(int,input().split(" ")))
print(max(a))

10 9 8 7 6 5 4 3 2 1
10

In [15]:
student = ['강은지','김유정','박현서','최성훈',
           '홍유진','박지호','권윤일','김채리',
           '한지호','김진이','김민호','강채연']

In [14]:
student.sort()
for i in range(len(student)):
    print("번호 : {}, 이름 : {} ".format(i+1,student[i]))

번호 : 1, 이름 : 강은지
번호 : 2, 이름 : 강채연
번호 : 3, 이름 : 권윤일
번호 : 4, 이름 : 김민호
번호 : 5, 이름 : 김유정
번호 : 6, 이름 : 김진이
번호 : 7, 이름 : 김채리
번호 : 8, 이름 : 박지호
번호 : 9, 이름 : 박현서
번호 : 10, 이름 : 최성훈
번호 : 11, 이름 : 한지호
번호 : 12, 이름 : 홍유진

In [23]:
student.sort()
for p in enumerate(student):
    print(p)
for i, v in enumerate(student):
    print("번호 : {}, 이름: {}".format(i+1,v))

(0, '강은지')
(1, '강채연')
(2, '권윤일')
(3, '김민호')
(4, '김유정')
(5, '김진이')
(6, '김채리')
(7, '박지호')
(8, '박현서')
(9, '최성훈')
(10, '한지호')
(11, '홍유진')
번호 : 1, 이름: 강은지
번호 : 2, 이름: 강채연
번호 : 3, 이름: 권윤일
번호 : 4, 이름: 김민호
번호 : 5, 이름: 김유정
번호 : 6, 이름: 김진이
번호 : 7, 이름: 김채리
번호 : 8, 이름: 박지호
번호 : 9, 이름: 박현서
번호 : 10, 이름: 최성훈
번호 : 11, 이름: 한지호
번호 : 12, 이름: 홍유진

In [25]:
# 20190923 을 출력합니다 아래기준만 만족하면됩니다.
# 1.코드내에 숫자가 없어야합니다.print(20190923) 이라고 하시면안됩니다.
# 2. 파일 이름이나 경로를 사용해서는 안됩니다
# 3. 시간 날짜 함수를 이용해서는 안됩니다.
# 4 에러번호 출력을 이용해서는 안됩니다.
# 5. input을 이용해서는 안됩니다.

In [55]:
a=print(str(ord('<')-ord('('))) # 아스키코드 이용 출력 20
b=print(str(ord('<')-ord(')'))) # 출력 19
c=print(str(ord('E')-ord('E'))) # 출력 0
d=print(str(ord('E')-ord('<'))) # 출력 9
e=print(str(ord('S')-ord('<'))) # 출력 23

20
19
0
9
23

In [58]:
a=print(str(ord('<')-ord('('))+  # 위에를 바탕으로 모두 더해서 출력
        str(ord('<')-ord(')'))+
        str(ord('E')-ord('E'))+
        str(ord('E')-ord('<'))+
        str(ord('S')-ord('<')))

20190923

In [86]:
a = 'aacdddddddddeee' # a 변수에 입력
b=str(a.count('a'))+str(a.count('b'))+str(a.count('c'))+str(a.count('d'))+str(a.count('b'))+str(a.count('d'))+str(a.count('b'))+str(a.count('e'))
# b 에 a,b,c,d,e의 갯수 문자로 변경후 더해줌
print(b) # b를 출력

20190903

In [1]:
a = input().split(' ')
out = ''
for i in a:
    out = out + i[0]
    
print(out)

복잡한 세상 편하게 살자
복세편살

In [31]:
print("{}의 자리수".format(10**(len(input())-1)))

98798798
10000000의 자리수

In [33]:
n=len(input('숫자를 입력하시오:'))
print('%d자리수' % n)

숫자를 입력하시오:65465465
8자리수

In [38]:
a = input().split() # 입력받은것을 공백을 기준으로 나눈다
b = '' # 빈 리스트를 만든다
for i in a: # i 에 a를 넣는다
    b += i # b 에 i를 넣는다 (공백을제거한 a)
print(len(b)) # 공백을 제거한 글자수를 센다

공백을 제 외 한 글자 수 만을 센다
13