In [1]:
s9 =(1,)

In [2]:
type(s9)

tuple

In [4]:
a = 0
while a < 10 :
    a = a + 1
    print(a)

1
2
3
4
5
6
7
8
9
10

In [5]:
#==========================================================
# for 문
#==========================================================

In [6]:
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

In [7]:
marks =[90, 25, 67, 45, 80]

number = 0
for mark in marks:
    number = number + 1
    if mark >= 60:
        print ("%d번 학생은 합격입니다." % number)
    else:
        print ("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [8]:
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks:
    number = number + 1
    if mark < 60:
        continue
    print ('%d번 학생 축하합니다.합격입니다.' % number)

1번 학생 축하합니다.합격입니다.
3번 학생 축하합니다.합격입니다.
5번 학생 축하합니다.합격입니다.

In [9]:
a = range(10)

In [10]:
a

range(0, 10)

In [18]:
add = 0
for i in range (1,11):
    add = add + i

In [19]:
print (add)

55

In [17]:
add = 0 
for i in range (1,11):
    add = add + 1
    print (add)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range (1,11):
    if i%2 == 1: 
        print(i)

In [22]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j, end=" ")
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [1]:
#while 문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해보자
sum = 0
i = 1
while i <= 1000:
    if i % 3 == 0: # 3의 배수확인 
        sum = sum + i
    i = i + 1
print(sum)

166833

In [9]:
# while 문을 사용하여 다음과 같이 별을 표시하는 프로그램을 작성해보자
# *
# **
# ***
# ****
# *****
i = 0
while True:
    i += 1
    if i==6 :break
    print(i*'*')

*
**
***
****
*****

In [23]:
# for 문을 사용해서 표시
i = 0
for i in range(0,5):
    i = i+1
    if i > 5 :break
    print(i*'*')

*
**
***
****
*****

In [21]:
# for 문을 사용해서 1부터 100까지의 숫자들의 합을 출력해보자
add = 0
for i in range (1,101):
    add= add + i
    
    
print(add)

5050

In [24]:
def add(a,b):
    return a+b

In [25]:
a=3
b=4
c= add(a,b)

In [26]:
print(c)

7

In [27]:
d = add(1,2)

In [28]:
print(d)

3

In [29]:
# 입력값이 없는 함수
def say():
    return 'Hi'

In [30]:
a = say()
print(a)

Hi

In [31]:
# 결괏값이 없는 함수
def add(a,b):
    print('%d, %d의 합은 %d 입니다.' % (a,b,a+b))

In [32]:
add(3,4)

3, 4의 합은 7 입니다.

In [33]:
a = add(3,4)
print(a)

3, 4의 합은 7 입니다.
None

In [34]:
#입력값도 결괏값도 없는함수

def say():
    print('hi')

In [35]:
say()

hi

In [36]:
# 여러개의 입력값을 받는 함수 만들기

def add_many(*args):
    result = 0
    for i in args:
        result = result + i
    return result

In [37]:
result = add_many(1,2,3)
print(result)

6

In [39]:
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [40]:
def add_mul(choice, *args):
    if choice == 'add':
        result = 0
        for i in args:
            result = result + i
    elif choice == 'mul':
        result = 1
        for i in args:
            result = result * i
    return result

In [41]:
result =add_mul('add',1,2,3,4,5)
print(result)

15

In [42]:
result = add_mul ('mul',1,2,3,4,5)
print (result)

120

In [43]:
def add_and_mul(a,b):
    return a+b, a*b

In [47]:
result = add_and_mul(3,4)
print(result)

(7, 12)

In [48]:
def add_and_mul (a,b):
    return a+b
    return a*b

In [49]:
result =add_and_mul(2,3)
print(result)

5

In [50]:
def say_myself(name,old,man=True):
    print("나의 이름은 %s 입니다."% name)
    print('나이는 %d살 입니다.'% old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [51]:
say_myself("박응용", 27)

나의 이름은 박응용 입니다.
나이는 27살 입니다.
남자입니다.

In [52]:
a = 1
def vartest(a):
    a = a + 1
    
vartest(a)
print(a)

1

In [53]:
# 지역 변수 : 특정 범위 안에서만 통용
# 전역 변수 : 전체에서 통용

In [54]:
def vartest(a):
    a = a + 1

In [55]:
vartest(3)

In [56]:
print(a)

1

In [57]:
a = 1
def vartest(a):
    a = a+1
    return a

a = vartest(a)
print(a)

2

In [58]:
add = lambda a,b:a+b
result = add(3,4)
print(result)

7

In [59]:
a = input()

Life is too short, you need python

In [60]:
a

'Life is too short, you need python'

In [65]:
number = int(input('숫자를 입력하세요:'))

숫자를 입력하세요:123

In [66]:
print(number)

123

In [67]:
number

123

In [68]:
a = 123
print(a)

123

In [69]:
a = 'python'
print(a)

python

In [70]:
a = [1,2,3]
print(a)

[1, 2, 3]

In [76]:
print('life''is''too short')

lifeistoo short

In [74]:
print('life'+'is'+'too short')

lifeistoo short

In [77]:
print('life','is','too short')

life is too short

In [81]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [82]:
f = open('새파일.txt', 'w')
f.close()

In [83]:
# 윈도우 버튼 오른쪽에 돋보기 버튼 클릭
# 검색에 cmd 치고 클릭

# 관리자 명령 프롬프트

# dir : 디렉토리 안에 있는 파일의 목록 확인
# cd 디렉토리명 : 특정 디렉토리 안으로 이동
# md 디렉토리명 : 디렉토리 만들기
# rd 디렉토리명 : 디렉토리 삭제
# cd.. : 디렉토리에서 빠져나올때

In [84]:
f = open('새파일.txt','w')
for i in range(1,10):
    data = '%d번째 줄입니다. \n' % i
    f.write(data)
f.close()

In [85]:
f = open('새파일.txt','r')
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

In [88]:
f = open('새파일.txt','r')
while True:
    line = f.readline()
    if not line: break
    print(line)
    
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

In [89]:
f = open('새파일.txt','r')
lines = f.readlines()
for line in lines:
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

In [90]:
f = open('새파일.txt','r')
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.

In [93]:
f = open('새파일.txt','a')
for i in range(11, 20):
    data = '%d번째 줄입니다.\n' % i
    f.write(data)
f.close()

In [94]:
# dos 명령어를 사용해서 새파일.txt 열어서 확인하세요

In [102]:
# Q1 주어진 자연수가 홀수인지 짝수인지 판별해 주는 함수 (is_odd)를 작성해 보자

def is_odd(number):
    if number % 2 == 1 :
        return print('홀수')
    else:
        return print('짝수')

In [105]:
is_odd(126)

짝수

In [112]:
# Q2 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성해 보자 (단 입력으로 들어오는 수의 개수는 정해져 있지 않다.)

def average(*args):
    sum = 0
    for i in args:
        sum = sum + i
    return sum / len(args)

In [114]:
average(1,7,3,4,5)

4.0

In [120]:
# Q3 다음은 두개의 숫자를 입력받아 더하여 돌려주는 프로그램이다.

input1 = input('첫번째 숫자를 입력하세요:')
input2 = input('두번째 숫자를 입력하세요:')

total =  int(input1) + int(input2)
print('두 수의 합은 %s 입니다' % total)

첫번째 숫자를 입력하세요:3
두번째 숫자를 입력하세요:6
두 수의 합은 9 입니다

In [121]:
# Q4 다음 중 출력 결과가 다른것 한개를 골라보자. 3번
# 1. print('you' 'need' 'python 
# 2. print('you'+'need'+python)
# 3. print('yout', 'need', 'python')
# 4. print("".join(["you", "need", "python"]))

In [123]:
print("".join(["you", "need", "python"]))

youneedpython

In [139]:
# Q5 다음은 'text.txt'라는 파일에 'Life is too short' 문자열을 저장한 후 다시 그 파일을 읽어서 출력하는 프로그램이다.
# 이 프로그램은 우리가 예상한 "Life is too short"라는 문장을 출력하지않는다

f1 = open('test.txt','w')
f1.write("Life is too short")
f1.close

f2 = open('test.txt','r')
print(f2.read())
f2.close

Life is too short