In [1]:
odd = [1, 3, 5, 7, 9]

In [2]:
odd

[1, 3, 5, 7, 9]

In [4]:
a = [ ]
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

In [5]:
a = [1,2,3]

In [6]:
a

[1, 2, 3]

In [7]:
a[0]

1

In [8]:
a[0]+a[2]

4

In [9]:
a = [1,2,3, ['a','b','c']]

In [10]:
a[-1]

['a', 'b', 'c']

In [11]:
a[-1][-1]

'c'

In [12]:
a = [1, 2, 3, 4, 5]

In [13]:
a[0:2]

[1, 2]

In [14]:
a = [1,2,3]
b = [4,5,6]

In [15]:
a+b

[1, 2, 3, 4, 5, 6]

In [16]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [17]:
len(a)

3

In [18]:
a.append(4)

In [19]:
a

[1, 2, 3, 4]

In [20]:
a.append([5,6])

In [21]:
a

[1, 2, 3, 4, [5, 6]]

In [25]:
a[4]

[5, 6]

In [26]:
a = [1,4,3,2]

In [27]:
a

[1, 4, 3, 2]

In [28]:
a.sort()

In [29]:
a

[1, 2, 3, 4]

In [30]:
a.reverse()

In [31]:
a

[4, 3, 2, 1]

In [32]:
a = ['a','c','b']

In [33]:
a

['a', 'c', 'b']

In [36]:
a.sort(reverse = True)

In [37]:
a

['c', 'b', 'a']

In [38]:
a = [1,2,3]

In [39]:
a.pop() # pop 은 리스트의 맨 마지막 요소를 돌려주고 그 요소는 리스트에서 삭제한다

3

In [40]:
a

[1, 2]

In [41]:
a = [1,2,3,1]

In [42]:
a.count(1)

2

In [43]:
a= [1,2,3]

In [44]:
a.extend([4,5])

In [45]:
a

[1, 2, 3, 4, 5]

In [46]:
b = [6,7]
a.extend(b)

In [47]:
a

[1, 2, 3, 4, 5, 6, 7]

In [51]:
#=========================================================
#     Tuple 
#=========================================================

In [50]:
# 리스트는 [] 으로 둘러싸지만 튜플은 ()으로 둘러싼다.
# 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값은 바꿀 수 없다.

In [52]:
t1 = ()
t2 = (1,)  # 튜플은 1개의 요소만을 가질때에는 요소 뒤에 쉼표 (,) 콤마를 반드시 붙여야한다
t3 = (1,2,3)
t4 = 1,2,3 # 괄호를 생략해도 무방하다 
t5 = ('a','b',('ab','cd'))

In [53]:
t1 = (1,2,'a','b')

In [54]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [55]:
a = {1:'hi'}

In [56]:
a

{1: 'hi'}

In [57]:
a = { 'a': [1,2,3]}

In [58]:
a

{'a': [1, 2, 3]}

In [59]:
a = {1:'a'}

In [60]:
a[2] = 'b'

In [65]:
a

{1: 'a', 2: 'b'}

In [66]:
a['name'] = 'pey'

In [67]:
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [68]:
del a[1]

In [69]:
a

{2: 'b', 'name': 'pey'}

In [71]:
del a['name']

In [72]:
a

{2: 'b'}

In [73]:
grade = {'pey' : 10, 'julliet': 99}

In [74]:
grade ['pey']

10

In [75]:
grade["julliet"]

99

In [82]:
dic = {'name' : 'pey',  'phone' : '0119993323', 'birth' : '1108'}

In [77]:
dic ['name']

'pey'

In [83]:
dic['phone']

'0119993323'

In [84]:
dic['birth']

'1108'

In [85]:
a.keys

In [86]:
dic.keys

In [87]:
a.keys()

dict_keys([2])

In [88]:
dic.keys()

dict_keys(['name', 'phone', 'birth'])

In [89]:
dic.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1108')])

In [90]:
#===========================================
#  set
#===========================================

In [91]:
s1 = set([1,2,3])

In [92]:
s1

{1, 2, 3}

In [93]:
s2 = set('Hello')
s2

{'H', 'e', 'l', 'o'}

In [94]:
s = set()

In [95]:
s

set()

In [96]:
# 중복을 허용하지 않는다. 
# 순서가 없다. ( 인덱싱으로 값을 얻을수 없다. )

In [97]:
s1

{1, 2, 3}

In [99]:
l1 = list(s1)

In [100]:
l1

[1, 2, 3]

In [101]:
t1 = tuple(s1)

In [102]:
t1

(1, 2, 3)

In [105]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

In [106]:
s1 & s2

{4, 5, 6}

In [107]:
s1.intersection(s2) # 교집합

{4, 5, 6}

In [108]:
s2.intersection(s1)

{4, 5, 6}

In [110]:
s1 | s2  # 합집함 (중복된값은 한번만 표기)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [111]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [112]:
s1 - s2 # 차집합

{1, 2, 3}

In [113]:
s2 - s1

{7, 8, 9}

In [114]:
s1.difference(s2)

{1, 2, 3}

In [115]:
s2.difference(s1)

{7, 8, 9}

In [116]:
s1 = set([1,2,3])
s1.add(4)  # add 함수 set 자료형에서 값을 1개만 추가할때 사용

In [117]:
s1

{1, 2, 3, 4}

In [118]:
s1.update([4,5,6])  # update 함수 set 자료형에서 값을 여러개 추가할때 사용

In [119]:
s1

{1, 2, 3, 4, 5, 6}

In [120]:
s1

{1, 2, 3, 4, 5, 6}

In [122]:
s1.remove(2)   # remove 함수 set 자료형에서 값을 제거할때 사용

In [123]:
s1

{1, 3, 4, 5, 6}

In [125]:
#===========================================
# bool 불 자료형 
#===========================================

In [126]:
# 참과 거짓을 나타내는 자료형
# 불 자료형은 두가지 값만 가질수 있다. (True, False)
# True False 는 파이썬의 예약어로 첫문자를 반드시 항상 대문자로 사용해야 한다.

In [127]:
type(a)

dict

In [128]:
a = True

In [129]:
b = False

In [130]:
type (a)

bool

In [131]:
type (b)

bool

In [132]:
1 == 1  # = 이퀄이 하나일땐 집어넣는것 == 두개일땐 의미를 물어보는것

True

In [133]:
1 == 2

False

In [134]:
2 > 1

True

In [135]:
2 < 1

False

In [136]:
# 문자열, 리스트, 튜플, 딕셔너리 등의 값이 비어있으면 거짓이다 ex) [], (), {}

In [137]:
a = [1,2,3,4]   # 조건문이 참인 동안 조건문 안에 있는 문장을 반복해서 수행한다 . 거짓이 되는순간 종료한다.
while a:
    print (a.pop())

4
3
2
1

In [138]:
if []:
    print('참')
else:
    print('거짓')

거짓

In [139]:
bool('python')

True

In [140]:
bool('')

False

In [141]:
bool([1,2,3])

True

In [142]:
bool([])

False

In [143]:
bool(0)

False

In [144]:
bool(3)

True

In [145]:
a = 80
b = 75
c = 55

In [146]:
(a + b + c ) /3

70.0

In [147]:
13 / 2

6.5

In [149]:
13%2  # 나머지 연산자 몫은 버리고 나머지만 취한다. 나머지가 0이면 짝수 1이면 홀수

1

In [154]:
jumin = '881120-1068234'

In [159]:
Birthday = jumin[0:6]
num = jumin[7:]

In [160]:
Birthday

'881120'

In [161]:
num

'1068234'

In [162]:
pin = "881120-1068234"

In [164]:
pin[7]

'1'

In [165]:
#=====================================================
# if 
#=====================================================

In [166]:
money = True
if money :
    print ("택시를 타고 가라")
else :
    print ("걸어가라")

택시를 타고 가라

In [167]:
# 비교 연산자 (<,>,==,!=,>=,<=)

In [168]:
5 != 5   # != 같지 않다

False

In [169]:
money = 2000
if money >= 3000 :
    print ('택시를 타고 가라')
else :
    print ('걸어가라')

걸어가라

In [170]:
# and, or, not 
# or] x or y x와 y 중 둘중에 하나만 참이어도 참이다
# and] x and y  x와 y 모두 참이어야 참이다
# not x ] x 가 거짓이면 참이다

In [171]:
pocket = ['paper', 'cellphone', 'money']

if money in pocket:
    print("택시 타자")
else:
    print("걸어가자")

걸어가자

In [173]:
# pocket = ['paper', 'handphone']
# card = True
# if 'money' in pocket:
#     print('택시를 타고 가라')
# else:
#     if card:
#         print('택시를 타고 가라')
#     else:
#         print('걸어가라')       

pocket = ['paper', 'handphone']
card = True

if 'money' in pocket : pass
else: print ('카드를 써라')

        
# Ctrl+ / = 전체 주석

카드를 써라

In [174]:
if score >= 60:
    message = 'success'
else:
    message = 'failure'
    
    
message = 'success' if score >= 60 else 'failure'

NameError: name 'score' is not defined

In [175]:
#=======================================================
# while
#=======================================================

In [176]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit +1
    print('나무를 %d 번 찍었습니다.' % treeHit)
    if treeHit ==10:
        print('나무 넘어갑니다.')

나무를 1 번 찍었습니다.
나무를 2 번 찍었습니다.
나무를 3 번 찍었습니다.
나무를 4 번 찍었습니다.
나무를 5 번 찍었습니다.
나무를 6 번 찍었습니다.
나무를 7 번 찍었습니다.
나무를 8 번 찍었습니다.
나무를 9 번 찍었습니다.
나무를 10 번 찍었습니다.
나무 넘어갑니다.

In [178]:
prompt = """
1. Add
2. Del
3. List
4. Quit
...
Enter number:
"""

In [181]:
number = 0
while number != 4:
    print(prompt)
    number = int(input())

1. Add
2. Del
3. List
4. Quit
...
Enter number:

1

1. Add
2. Del
3. List
4. Quit
...
Enter number:

2

1. Add
2. Del
3. List
4. Quit
...
Enter number:

2

1. Add
2. Del
3. List
4. Quit
...
Enter number:

2

1. Add
2. Del
3. List
4. Quit
...
Enter number:

2

1. Add
2. Del
3. List
4. Quit
...
Enter number:

3

1. Add
2. Del
3. List
4. Quit
...
Enter number:

4

In [182]:
# input 으로 들어가는애들은 무조건 스트링이다
# 돌리는 횟수가 명확할땐 for 문 모를땐 while 문이 좋다

In [183]:
coffee = 10
money = 300
while money:
    print('돈을 받았으니 커피를 줍니다.')
    coffee = coffee -1
    print('남은 커피의 양은 %d개 입니다.' % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개 입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [184]:
coffee = 10
while True:
    money = int(input("돈을 넣어 주세요: "))
    if money == 300:
        print('커피를 줍니다.')
        coffee = coffee -1
    elif money > 300:
        print('거스름돈 %d를 주고 커피를 줍니다.' % (money -300))
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee ==0:
        print('커피가 다 떨어졌습니다. 판매를 중지합니다.')
        break

돈을 넣어 주세요: 700
거스름돈 400를 주고 커피를 줍니다.
돈을 넣어 주세요: 400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 200
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 7개 입니다.
돈을 넣어 주세요: 600
거스름돈 300를 주고 커피를 줍니다.
돈을 넣어 주세요: 600
거스름돈 300를 주고 커피를 줍니다.
돈을 넣어 주세요: 600
거스름돈 300를 주고 커피를 줍니다.
돈을 넣어 주세요: 600
거스름돈 300를 주고 커피를 줍니다.
돈을 넣어 주세요: 600
거스름돈 300를 주고 커피를 줍니다.
돈을 넣어 주세요: 600
거스름돈 300를 주고 커피를 줍니다.
돈을 넣어 주세요: 600
거스름돈 300를 주고 커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [188]:
a = 0
while a < 10 :
    a = a + 1
    if a % 2 == 1 : continue
    print(a)

2
4
6
8
10

In [189]:
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

In [190]:
a = [(1,2),(3,4),(5,6)]

In [191]:
for (first, last) in a:
    print(first + last)

3
7
11