In [10]:
a = 1
b = "python"
c = [1,2,3]

In [12]:
a = [1,2,3]

In [13]:
id(a)

2537013247552

In [14]:
a = [1,2,3]
b = a

In [15]:
a

[1, 2, 3]

In [16]:
b

[1, 2, 3]

In [17]:
id(b)

2537013413696

In [18]:
id(a)

2537013413696

In [19]:
a is b # a와 b가 가리키는 객체는 동일한가?

True

In [20]:
a[1] = 4 # 파이썬은 첫번째가 0부터 시작한다 즉 a[1] 이 가르키는것은 a 의 두번째 이다

In [21]:
a

[1, 4, 3]

In [27]:
b

[1, 4, 3]

In [28]:
a = [1,2,3]

In [29]:
b = a[:] #슬라이싱

In [35]:
a[1] = 4

In [36]:
a

[1, 4, 3]

In [37]:
b

[1, 2, 3]

In [32]:
id(a)

2537013519168

In [38]:
id(b)

2537013487104

In [39]:
from copy import copy # 모듈 불러오기. copy 함수를 쓰기위해서 사용

In [40]:
b = copy(a)

In [41]:
b is a

False

In [42]:
a is b

False

In [43]:
a, b = ('python', 'life')

In [44]:
a

'python'

In [45]:
b

'life'

In [47]:
a = b = 'python'

In [48]:
a

'python'

In [49]:
b

'python'

In [50]:
a = 3
b = 5 
a,b = b,a

In [51]:
a

5

In [52]:
b

3

In [53]:
a = 123

In [54]:
a

123

In [55]:
a = -178

In [56]:
a

-178

In [57]:
a = 0

In [58]:
a

0

In [59]:
a = 1.2

In [60]:
a = -3.45

In [61]:
a

-3.45

In [62]:
a = 3

In [63]:
b = 4

In [64]:
a + b

7

In [65]:
a * b

12

In [66]:
a / b

0.75

In [67]:
a= 3
b =4

In [68]:
a ** b

81

In [70]:
7 % 3 # 나머지 연산자는 홀수, 짝수, 배수 를 알아낼때 아주 많이 사용

1

In [71]:
4 % 2 # 2로 나누어 0 이 나오면 무조건 짝수

0

In [72]:
19 % 2 # 2로 나누어 나머지가 1이 나오면 무조건 홀수

1

In [73]:
15 % 5 # 어떤수로 나누어 0 이 나오면 그 수의 배수

0