In [2]:
1+1

2

In [1]:
1+2

3

In [2]:
3 / 2.4

1.25

In [3]:
3 * 9

27

In [4]:
a = 1
b = 2
a + b

3

In [5]:
a = "python"

In [6]:
print(a)

python

In [7]:
a = 3 
if a > 1:
    print("a is greater than 1")

a is greater than 1

In [8]:
for a in [1,2,3]:
    print(a)

1
2
3

In [9]:
i = 0
while i < 3:
    i = i + 1
    print(i)

1
2
3

In [1]:
def add(a,b) :  # 함수 정의
    return a + b

add(3,4)

7

In [2]:
###########################################
# 숫자형
############################################

In [3]:
# 나머지 연산자

7 % 3

1

In [4]:
3 % 7

3

In [5]:
12 % 2    # 2로 나눈 나머지가 0이면 항상 짝수

0

In [6]:
13 % 2    # 2로 나눈 나머지가 1이면 항상 홀수

1

In [7]:
30 % 5    # 특정 수로 나눈 나머지가 0이면 그 수의 배수이다.

0

In [8]:
7 / 4

1.75

In [9]:
7 // 4

1

In [10]:
7 % 4

3

In [11]:
###########################################
# 문자형
############################################

In [12]:
"Hello World"

'Hello World'

In [13]:
'python is fun'

'python is fun'

In [14]:
"""Life is too short, You need python"""

'Life is too short, You need python'

In [15]:
'''Life is too short, You need python'''

'Life is too short, You need python'

In [16]:
"Python's favorite food is perl"

"Python's favorite food is perl"

In [17]:
"Python is very easy." he says.

SyntaxError: invalid syntax (<ipython-input-17-f87acc609a0a>, line 1)

In [18]:
'"Python is very easy." he says.'

'"Python is very easy." he says.'

In [19]:
'Python\'s favorite food is perl'

"Python's favorite food is perl"

In [20]:
"\"Python is very easy.\" he says."

'"Python is very easy." he says.'

In [27]:
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [23]:
multiline

'Life is too short\nYou need python'

In [24]:
multiline = '''
Life is too short
You need python
'''

In [25]:
multiline

'\nLife is too short\nYou need python\n'

In [26]:
print(multiline)

Life is too short
You need python

In [30]:
head = 'Python'         # 파이썬 특징 문자열 연산 가능
tail = ' is fun!'
head + tail

'Python is fun!'

In [31]:
a = 'Python'
a * 2

'PythonPython'

In [33]:
print ("=" * 50)
print ("My Program")
print ("=" * 50)

==================================================
My Program
==================================================

In [34]:
a = 'Life is' # 컴퓨터는 빈칸도 하나의 글자다
len(a)

7

In [35]:
a = 'You need python'
len(a)

15

In [36]:
a = "Life is too short, You need Python"

In [38]:
a[3] # 파이썬은 0에서 시작한다. (참고 : R은 1에서 시작한다)

'e'

In [39]:
a[-1]

'n'

In [40]:
a[-0]

'L'

In [41]:
a[0:4]

'Life'

In [42]:
a[5:7]

'is'

In [43]:
a[19:]

'You need Python'

In [44]:
a[:17]

'Life is too short'

In [45]:
a[:]

'Life is too short, You need Python'

In [46]:
a[19:-7]

'You need'

In [47]:
a = "20010331Rainy"

In [48]:
date = a[:8]

In [49]:
date

'20010331'

In [50]:
weather = a[8:]

In [51]:
weather

'Rainy'

In [52]:
year = a[:4]

In [53]:
year

'2001'

In [54]:
day = a[4:8]

In [55]:
day

'0331'

In [56]:
weather

'Rainy'

In [57]:
a ="pithon"

In [58]:
a[:1]

'p'

In [59]:
a[2:]

'thon'

In [60]:
a[:1] + 'y' + a[2:]

'python'

In [61]:
"i eat %d apples." % 3

'i eat 3 apples.'

In [62]:
"i eat %d apples." % 5

'i eat 5 apples.'

In [63]:
"i eat %d apples." % 10

'i eat 10 apples.'

In [65]:
"i eat %s apples." % "five"

'i eat five apples.'

In [66]:
number = 3
'i eat %d apples.' % number

'i eat 3 apples.'

In [67]:
number = 10
day = "three"
"i ate %d apples. so i was sick for %s days." % (number, day)

'i ate 10 apples. so i was sick for three days.'

In [68]:
"%10s" % "hi"

'        hi'

In [69]:
"%-10sjane." % "hi"

'hi        jane.'

In [70]:
"%0.4f" % 3.42134234

'3.4213'

In [73]:
"%10.4f" % 3.42134234

'    3.4213'

In [75]:
"I eat {0} apples" .format(3)

'I eat 3 apples'

In [77]:
"I eat {0} apples" .format("five")

'I eat five apples'

In [78]:
number = 10
day = "three"
"I ate {0} apples, so I was sick for {1} days." .format(number, day)

'I ate 10 apples, so I was sick for three days.'

In [79]:
"I ate {number} apples. so I was sick for {day} days." .format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [81]:
"I ate {0} apples. so I was sik for {day} days." .format(10, day=3)

'I ate 10 apples. so I was sik for 3 days.'

In [82]:
"{0:<10}" .format("hi")

'hi        '

In [83]:
"{0:>10}" .format("hi")

'        hi'

In [84]:
"{0:^10}" .format("hi")

'    hi    '

In [85]:
a = "hobby"
a.count('b')

2

In [86]:
a = 'Python is the best choice'
a.find('b')

14

In [87]:
a.find('k') # -1이 나올경우 찾는 문자나 문자열이 존재하지 않는것

-1

In [88]:
a = 'Life is too short'

In [89]:
a.index('t') # index 함수에서는 찾는 문자나 문자열이 존재하지 않으면 오류가 나온다

8

In [91]:
"," .join('abcd')

'a,b,c,d'

In [92]:
' ' .join('abcd')

'a b c d'

In [93]:
a = 'hi'
a.upper()

'HI'

In [95]:
a = 'HI'
a.lower()

'hi'

In [96]:
a = ' hi '
a.lstrip()

'hi '

In [97]:
a = ' hi '        # 양쪽 공백 지우기 (strip) 왼쪽은 l 오른쪽은 r을 붙인다 ex) lstrip
a.strip()

'hi'

In [98]:
a = 'Life is too short'            # 문자열 바꾸기 (replace)
a.replace('Life' , 'Your leg')

'Your leg is too short'

In [99]:
a = 'Life is too short'      # 문자열 나누기 (split)
a.split()

['Life', 'is', 'too', 'short']

In [100]:
b = "a:b:c:d"     # : < 을 기준점으로 삼아서 문자열을 나눠라
b.split(':')      # 나눈 값은 리스트에 하나씩 넣는다

['a', 'b', 'c', 'd']

In [ ]:
###########################################
# 리스트
############################################

In [102]:
# 리스트 자료형과 튜플 자료형은 비슷하다
# 리스트는 값을 수정 가능하고 튜플은 수정이 불가능하다.
# (편법으로 가능하다곤 하지만 기본적으로는 불가능하다)
# 왠만하면 리스트를 써라

In [103]:
# 리스트이름 = [요소1, 요소2, 요소3 ,,,,]  < 리스트의 기본문법 
# 리스트의 특징 
# 1. 대괄호
# 2. 숫자와 문자열을 같이 사용할수있음
# 3. 리스트 안에 리스트자체를 요솟값으로 가질수 있음

a = []
b = [1,2,3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

In [104]:
a = [1, 2, 3]
a

[1, 2, 3]

In [105]:
a[0]

1

In [106]:
a[0] + a[2]

4

In [107]:
a[-1]

3

In [108]:
a = [1, 2, 3, ['a', 'b', 'c']]

In [109]:
a[-1]

['a', 'b', 'c']

In [110]:
a[3]

['a', 'b', 'c']

In [111]:
a[-1][0] # 리스트 안에 리스트를 꺼내는법

'a'

In [112]:
a = [1, 2, 3, 4, 5]
a[0:2]  # 마지막에 나온숫자 2는 포함하지않는다 (0과 1만 가져옴) 0이상 2미만

[1, 2]

In [113]:
a = [1, 2, 3]      # 리스트 사이에서 + 기호는 2개의 리스트를 합치는 기능을 한다
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [114]:
a = [1, 2, 3]  # 리스트가 세번 반복되어 새로운 리스트를 만들어낸다
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [115]:
len(a)  # 리스트의 길이 구하는 함수 len

3

In [118]:
a = [1, 2, 3]
a[2] + "hi"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [119]:
str(a[2]) + "hi"

'3hi'

In [120]:
a[2]

3

In [121]:
str(a[2]) # 따옴표가 붙어서 나오는 것은 문자열

'3'

In [122]:
# 리스트는 값을 수정하거나 삭제할 수 있다.

In [123]:
a = [1, 2, 3]

In [124]:
a[2] = 4

In [125]:
a

[1, 2, 4]

In [126]:
a = [1, 2, 3]
del a[1]

In [127]:
a

[1, 3]

In [128]:
a = [1, 2, 3, 4, 5]
del a[2:]

In [129]:
a

[1, 2]

In [130]:
#######################################
# 리스트 관련 함수 
######################################

In [131]:
# 리스트에 요소 추가 (append)
# 리스트 안에는 어떤 자료형도 추가할 수 있다.

In [132]:
a = [1, 2, 3]
a.append(4)

In [133]:
a

[1, 2, 3, 4]

In [134]:
a.append([5, 6])

In [135]:
a

[1, 2, 3, 4, [5, 6]]

In [136]:
# 리스트 정렬 (sort)
# sort 함수는 리스트의 요소를 순서대로 정렬해 준다.
# 문자 역시 알파벳 순서로 정렬할 수 있다.

In [137]:
a = [1, 4, 3, 2]
a.sort()

In [138]:
a

[1, 2, 3, 4]

In [139]:
# 리스트 뒤집기 (reverse)
# reverse 함수는 리스트를 역순으로 뒤집어 준다 
# 현재의 리스트를 그대로 거꾸로 뒤집는다

In [140]:
a = ['a', 'c', 'b']

In [141]:
a.reverse()

In [142]:
a

['b', 'c', 'a']

In [144]:
a = ['a', 'c', 'b']
a.sort()

In [145]:
a

['a', 'b', 'c']

In [146]:
a.reverse()

In [147]:
a

['c', 'b', 'a']

In [148]:
a = ['a', 'c', 'b']

In [155]:
# 위치 반환 (index)
# index(x) 함수는 리스트에 x 값이 있으면 x의 위치 값을 돌려준다.

In [157]:
a = ['a', 'b', 'c']
a.index('c')

2

In [ ]:
# 리스트에 요소 삽입